<!-- openexcelfile.component.html -->
<div class="btn-excl">
  <button mat-raised-button (click)="openExcell()">Export to Excel</button>

  <button mat-raised-button class="example-icon" (click)="toggleEye()">
    <img [src]="eyeClosed ? 'assets/icons/view.png' : 'assets/icons/hide.png'" class="mat-iconleft" width="30px" height="30px" alt="">
  </button>
</div>

<div *ngIf="eyeClosed">
  <iframe [srcdoc]="iframeContent" width="100%" height="500px"></iframe>
</div>



<div class="page-content" *ngIf="showSendButton">
  <button style="color: rgba(0, 0, 0, 0.976); border-radius: solid 20px; width: 100px; height: 40px;" mat-raised-button >
   Envoyer 
  </button>
</div>