.btn-excl{
    padding-right:20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.btn-envoy-excl{
padding-left: 20px;
padding-top: 10px;
background-color: transparent; 


}

.page-content{
    padding-left:20px;
    cursor: pointer;
}

.example-icon{
    font-size: 30px; /* Increase the font size for a larger icon */
    border: none; /* Make the icon's container a circle for a rounded look */
    padding: 13px; /* Add some padding to create space around the icon */
    cursor: pointer; /* Change the cursor on hover to indicate interaction */
    background-color: transparent; 
    position: relative;
    left: 30px; /* Ajustez la position pour aligner l'icône à la fin de l'input */
    top: 12px;
  }

  /* styles.css */
.close-icon {
    cursor: pointer; /* Change the cursor on hover to indicate interaction */
    background-color: transparent; 
    position:absolute;
    top: 100;
    right: 30px;
    border: none;
  }

  .search-bar {
    margin-right: 10px; /* Ajoutez un espacement à droite de la barre de recherche */
    padding-right:20px;
    padding-left: 20px;
    padding-bottom: 7px;

  }
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }