<div class="flex-container">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher" class="search-input" [(ngModel)]="searchTerm" (input)="applyFilter()"/>
    </div>
  </div>
  
  <table>
  <thead>
      <tr>
          <th></th>
          <th>n°ligne</th>
          <th>numero de compte</th>
          <th>code agence</th>
          <th>Nbre carnet</th>  
          <th>Nbre feuilles</th>
          <th>code transaction</th>
          <th>nom client</th>
          <th>adresse</th>
          <th>Code Devise</th>
          <th>code bank</th>
          <th>code pays</th>
          <th>numero de debut</th>
          <th>status</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cheque of dataSource.filteredData">
  
              <div class="actions" *ngIf="cheque.isSelected">
              <button mat-icon-button class="example-icon-up">
              <span><img src="assets/icons/edit.png" class="mat-iconleft" width="22px" height="24px" alt=""></span>
              </button>
            </div>
  
          <td>
              <input type="checkbox"  [checked]="cheque.isSelected" (change)="(cheque)" (change)="toggleSelection(cheque)"class="select-checkbox">
          </td>
          
          <td>{{ cheque.id }}</td>
          <td>{{ cheque.numero_de_compte }}</td>
          <td>{{ cheque.code_agence }}</td>
          <td>{{ cheque.nbrchq }}</td>
          <td>{{ cheque.nbre_feuiles }}</td>
          <td>{{ cheque.code_transaction }}</td>
          <td>{{ cheque.nom_de_client }}</td>
          <td>{{ cheque.addresse }}</td>
          <td>{{ cheque.code_devise }}</td>
          <td>{{ cheque.code_bank }}</td>
          <td>{{ cheque.code_pays }}</td>
          <td>{{ cheque.numero_de_debut }}</td>
          <td>{{ cheque.status }}</td>
      </tr>

  </tbody>

  </table>


<div class="container xlarge">
    <div class="pagination">
      <ul>
        <li *ngIf="previousPageUrl" (click)="fetchPage(previousPageUrl)">
          <a >Previous</a>
        </li>
        <li *ngFor="let page of pages" [class.active]="page === currentPage" (click)="fetchPage(pageUrls[page])">
          <a >{{page}}</a>
        </li>
        <li *ngIf="nextPageUrl" (click)="fetchPage(nextPageUrl)">
          <a >Next</a>
        </li>
      </ul>
    </div>
  </div>